@page
@model ServiceMonitor.Web.Pages.AppRunnersModel
@{
}
<form method="get">
    <select asp-for="SelectedRegion" asp-items="Model.Regions"></select>
    <input type="submit" />
</form>
<p>Selected Region: @Model.SelectedRegion</p>
@if (Model.AppRunners.Count == 0)
{
    <p>No Data</p>
}
else
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
        @foreach (var instance in Model.AppRunners)
        {
            <tr>
                <td>@instance.Name</td>
                <td>@instance.Status</td>
            </tr>
        }
    </table>
}