@page "/apprunner"
@using ServiceMonitor.Cloud;
@inject IAppRunner AppRunnerService;

<PageTitle>App Runner</PageTitle>

<h1>App Runner</h1>

<select class="form-control" @onchange="FetchRegion">
	<option value="">Select</option>
	<option value="ap-southeast-1">Singapore</option>
</select>


@if (_loading)
{
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
}
else if (AppRunners.Count == 0)
{
	<p>No Data</p>
}
else
{
	<h3>Total Data: @AppRunners.Count</h3>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Created At</th>
			<th>Status</th>
		</tr>
		@foreach (var instance in AppRunners)
		{
			<tr>
				<td>@instance.Name</td>
				<td>@instance.CreatedAt</td>
				<td>@instance.Status</td>
			</tr>
		}
	</table>
}

@code {
	private bool _loading = false;
	public ICollection<AppRunnerProperty> AppRunners { get; private set; } = new List<AppRunnerProperty>();
	public string SelectedRegion { get; set; } = "ap-southeast-1";

	async Task FetchRegion(ChangeEventArgs e)
	{
		if (e.Value is not null)
		{
			var value = (string)e.Value;
			if (string.IsNullOrEmpty(value))
			{
				return;
			}
			SelectedRegion = value;
			_loading = true;
			await FetchData();
		}
	}

	private async Task FetchData()
	{
		AppRunners = await AppRunnerService.GetAppRunnersAsync(region: SelectedRegion);
		_loading = false;
	}
}
